* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}
html{
    font-size: 62.5%;
}
.clear{
    clear: both;
}
h1{
    font-size: 5.8rem;
}
.Hero h2{
    font-size: 15rem;
    padding:5rem 0rem ;
}
a{
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
}
h3{
    font-size: 9.8rem;
}
button{
    font-size: 1.8rem;
    padding: 1rem;
}
nav{
    background: rgb(117, 111, 75);
    color: aliceblue;
    padding: 3rem;
    display: flex ;
    justify-content: space-between;


}
nav>img{
    width: 30px;
}
nav h1{
    float: left;
}
nav ul{
    float: right;
    list-style: none;
}
nav li{
    float: left;
    margin: 0rem 4rem;
}
.Hero{
    background-image: url("/img/pexels-emmanuel-ikwuegbu-11022596.jpg");
    height: 100rem;
    /*background-position: center;*/
    background-size: cover;
    text-align: center;
    color: black;
    padding-top: 15rem;
    text-shadow: 3px 3px 3px aliceblue;
}
.Hero button{
    padding: 2rem 4rem;
    margin-top: 3rem;
    font-weight: bold;
background: linear-gradient(135deg, #71b7e6, #9b59b6);  
    cursor: pointer;
    font-size: 6rem;
    color: white;
    
}
.Hero button:hover {
   background-color: aquamarine;

}
.Form{
    text-align: center;
}
form input,form label,form textarea{
    font-size: 4rem;
    display: block;
}
form input{
    margin: 2rem auto;
    width: 50%;
}
form textarea{
    margin: 2rem auto;
    width: 50%;
}
h2{
    font-size: 7rem;
}
form button{ 
    padding: 2rem 6rem;
    color: white;
    margin-top: 3rem;
    cursor: pointer;
    font-size: 6rem;
    font-weight: bold;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
@media screen and (max-width:1000px){
    .Hero button {
        padding: 1rem 3rem;
        margin-top: 2rem;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 20px
    }
    nav{
        display: flex;
        justify-content: flex-end;
    padding: 2rem 0rem;
    align-items: center;
    }
    .Hero h2 {
        font-size: 4.4rem;
        padding: 4rem 0rem;
    }
    h3 {
        font-size: 3.8rem;
    }
    nav ul{
        display: flex;
        font-size: 7px;
    }
    nav li{
        margin: 0rem 2rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    form button {
    padding: 1rem 3rem;
    margin: 2rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}
h2 {
    font-size: 4rem;
    margin: 3.5rem;
}
form input, form label, form textarea {
    font-size: 2.5rem;
    display: block;
}
form input {
    margin: 2rem auto;
    width: 68%;
}
form textarea {
    margin: 2rem auto;
    width: 68%;
}}


    
